body{
	background-color:#f6f6ff;
}

ul{
	display:flex;
	flex-direction:row;
	list-style-type:none;
	text-align:center;
	background-color:#e8e8ff;
	color:white;
	width:100%;
	border:0.5px solid #c3c3ea;
	padding:0px;
	text-decoration:none;
}

li a{
	display:block;
	padding:8px 16px;
}

li a:hover {
	background-color:#c3c3fb;
	color:black;
}
	
.msg{
	font-family:Benguiat Bk BT;
}

.container{
	padding:30px 30px 30px 30px;
}

@media screen and (max-width:500px){
	.ham{
		width:25px;
		height:3px;
		background-color:green;
		margin:3px;
	}
	
	
	
	